.dropdown-menu {
  background-color: lightgrey;
}

footer {
  background-color: #212322;
  color: #e5e5e5;
  margin-top: 100px;
}

.fab {
  color: #e5e5e5;
  margin-bottom: 6px;
}

.list-group {
  margin-top: 100px;
}

.col1 {
  background-color: black;
  color: white;
  height: 175px;
  border-top: 1px solid white;
}

.col2 {
  margin-top: 100px;
  height: 200px;
  border: 10px solid black;
}

.img {
  margin-top: 100px;
  background-color: white;
  height: 200px;
}

.comment {
  background-color: lightgrey;
  border: 1px solid black;
  height: cover;
  padding-bottom: 25px;
  border-radius: 4px;
  margin-right: 20px;
}

.top {
  margin-top: 75px;
}

.border {
  border: 1px solid black;
}
